[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=dbeaver-ce
GenericName=DBeaver CE
Comment=Universal Database Manager and SQL Client.
Exec=dbeaver
Icon=dbeaver-ce
Categories=IDE;Development
StartupWMClass=DBeaver
StartupNotify=true
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
MimeType=application/sql

VersionUrl=https://dbeaver.io/files/dbeaver-ce-latest-linux.gtk.x86_64.tar.gz
VersionFile=.eclipseproduct
VersionIcon=dbeaver.png
